@model EXDIBO.Util.Bovine;

@{
    ViewData["Title"] = "Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts {
<script> var urlBase = '@Context.Request.Host'; </script>
}

<h1>Registro Animal</h1>

<h4>Res</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Animal" asp-controller="Animal" method="post">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div role="alert" class="text-danger">@ViewData["error"]</div>

            <div class="form-group">
                <label asp-for="Number" class="control-label">Número</label>
                <input asp-for="Number" class="form-control" type="number" min="0" placeholder="100" value="@ViewData["number"]" required/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Earring" class="control-label">Arete</label>
                <input asp-for="Earring" class="form-control" placeholder="100" value="@ViewData["number"]" required/>
                <span asp-validation-for="Earring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMother" class="control-label">N° Madre</label>
                <input asp-for="IdMother" id="IdMother" type="hidden"/>
                <input id="numMother" class="form-control" onkeyup="searchMother()"  type="number" min="1" placeholder="Número de Madre"  required/>
                <span asp-validation-for="IdMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de Madre</label>
                <input id="Mother" class="form-control" type="text" placeholder="Nombre de Madre" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">G&eacute;nero Madre</label>
                <input id="generoMother" class="form-control" placeholder="Género de Madre" type="text" readonly/>
                <div id="msgm" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label asp-for="IdFather" class="control-label">N° Padre</label>
                <input asp-for="IdFather" id="IdFather" type="hidden" />
                <input id="numFather" class="form-control" onkeyup="searchFather()" type="number" min="1" placeholder="Número de Padre" required/>
                <span asp-validation-for="IdFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de Padre</label>
                <input id="father" class="form-control" type="text" placeholder="Nombre de Padre" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">G&eacute;nero Padre</label>
                <input id="generofather" class="form-control" placeholder="Género Padre" type="text" readonly/>
                <div id="msgf" class="text-danger"> </div>
            </div>
            <div class="form-group">
                <label asp-for="IdBreed" class="control-label">Raza</label>
                <select asp-for="IdBreed" class="form-select" required>
                @{
                    foreach (var item in (List<EXDIBO.Util.Breed>)ViewData["breeds"])
                    {
                                            <option value="@item.Id">Raza: @item.Name - Gen: @item.Genetics </option>
                    }
                }
                </select>
                <span asp-validation-for="IdBreed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFarm" class="control-label">Finca</label>
                <select asp-for="IdFarm" class="form-select" required>
                @{
                    foreach (var item in (List<EXDIBO.Util.Farm>)ViewData["farms"])
                    {
                                            <option value="@item.Id"> @item.Name </option>
                    }
                }
                </select>
                <span asp-validation-for="IdFarm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGroup" class="control-label">Grupo</label>
                <select asp-for="IdGroup" class="form-select" required>
                    @{
                        foreach (var item in (List<EXDIBO.Util.Group>)ViewData["groups"] )
                        {
                                             <option value="@item.Id"> @item.Name </option>
                        }
                    }
                </select>
                <span asp-validation-for="IdGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marca - Fierro</label>
                <input asp-for="Brand" class="form-control" placeholder="Marca" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" placeholder="Nombre" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Genero</label>
                <select asp-for="Gender" class="form-control" required>
                    <option value="Hembra" selected>Hembra</option>
                    <option value="Macho">Macho</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Born" class="control-label">Nacimiento</label>
                <input asp-for="Born" class="form-control" type="date"  max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                <span asp-validation-for="Born" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionMilk" class="control-label">Producción Lactea</label>
                <input asp-for="ProductionMilk" class="form-control" min="0" placeholder="0 ML" required/>
                <span asp-validation-for="ProductionMilk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label">Partos</label>
                <input asp-for="Birth" class="form-control" type="number" min="0" placeholder="0 Hijos" required/>
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregnant" class="control-label">Gestación</label>
                <select asp-for="Pregnant" class="form-control" required>
                    <option value="False">No</option>
                    <option value="True">Si</option>
                </select>
                <span asp-validation-for="Pregnant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ovulation" class="control-label">Fecha Ovulación</label>
                <input asp-for="Ovulation" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="Ovulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvulationTimes" class="control-label">Ovulaciones</label>
                <input asp-for="OvulationTimes" class="form-control" type="number" min="0" placeholder="0 Veces"/>
                <span asp-validation-for="OvulationTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartWeight" class="control-label">Peso Anterior</label>
                <input asp-for="StartWeight" class="form-control" type="number" min="0" placeholder="0 K" required/>
                <span asp-validation-for="StartWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">Peso Actual</label>
                <input asp-for="Weight" class="form-control" type="number" min="0" placeholder="0 K" required/>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalWeight" class="control-label">Peso Final</label>
                <input asp-for="FinalWeight" class="form-control" type="number" min="0" placeholder="0 K" required/>
                <span asp-validation-for="FinalWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label">Fecha Ingreso</label>
                <input asp-for="AdmissionDate" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischargeDate" class="control-label">Fecha Salida</label>
                <input asp-for="DischargeDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                <span asp-validation-for="DischargeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Precio</label>
                <input asp-for="Price" class="form-control" type="number" min="0" placeholder="0 CRC" required/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Anotaciones</label>
                <input asp-for="Notes" class="form-control"  placeholder="Anotaciones"/>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                     <input class="form-check-input" asp-for="Discards" /> Desechar
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" type="checkbox" checked/> Activo
                </label>
            </div>
            <div class="form-group mt-2">
                <a class="btn btn-lg btn-success" href="javascript: history.go(-1)"><i class="fa-solid fa-arrow-left"></i> Atrás</a>
                 <button type="submit" class="btn btn-lg btn-success">Guardar </button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/Animal.js"></script>