@model IEnumerable<EXDIBO.Util.Breed>

@{
    ViewData["Title"] = "Razas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Registro de Razas</h1>

<h1>Razas</h1>
<p>
    <a class="btn btn-success" asp-action="Raza"><i class="fa-solid fa-plus"></i> Raza</a>
</p>

@{
    if (Model != null)
    {
        int num = 1;
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            N&uacute;mero
                        </th>
                        <th>
                            Raza
                        </th>
                        <th>
                            Prop&oacute;sito
                        </th>
                        <th>
                            Gen&eacute;tica
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @num
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Purpose)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genetics)
                            </td>
                            <td>
                                @if (Convert.ToBoolean(item.Status))
                                {
                                    <a class="btn btn-outline-success">Activo</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-secondary">Inactivo</a>
                                }

                            </td>
                            <td>
                            <div class="btn-group">
                                <a asp-action="DetallesRaza" asp-controller="Animal" asp-route-id="@item.Id" class="btn btn-info text-light"> <i class="fa-solid fa-syringe"></i></a>
                                <a asp-action="EditarRaza" asp-controller="Animal" asp-route-id="@item.Id" class="btn btn-dark text-light"> <i class="fa-solid fa-pen-to-square"></i></a>
                                @if (Convert.ToBoolean(item.Status))
                                {
                                    <a class="btn btn-secondary text-light" asp-action="EstadoRaza" asp-controller="Animal" asp-route-id="@item.Id" asp-route-status="false"><i class="fa-solid fa-trash"></i></a>
                                }
                                else
                                {
                                    <a class="btn btn-success text-light" asp-action="EstadoRaza" asp-controller="Animal" asp-route-id="@item.Id" asp-route-status="true"><i class="fa-solid fa-check"></i></a>
                                }
                                </div>
                            </td>
                        </tr>
                        num++;
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1>No hay Razas registradas en la base de datos para mostrar en pantalla</h1>
        </div>
    }
}